@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  /* remove input default arrow */
input[type="number"].arrow-none::-webkit-inner-spin-button,
input[type="number"].arrow-none::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
  }
  /* remove tailwind default focused input style */
  [type='text']:focus, [type='email']:focus, [type='url']:focus, [type='password']:focus, [type='number']:focus, [type='date']:focus, [type='datetime-local']:focus, [type='month']:focus, [type='search']:focus, [type='tel']:focus, [type='time']:focus, [type='week']:focus, [multiple]:focus, textarea:focus, select:focus,
  [type='text'], [type='email'], [type='url'], [type='password'], [type='number'], [type='date'], [type='datetime-local'], [type='month'], [type='search'], [type='tel'], [type='time'], [type='week'], [multiple], textarea, select{
    @apply border-inherit;
    --tw-ring-color: var(--tw-ring-color);
   }
}
